@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(240,150, 240);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.container{
    
    width: 300px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 4px 4px 30px rgb(0,0,0.06);
    
    background-color: #fff;
}
.container form{
    border:1px solid rgb(0,0,0);
    width: 100%;
    border-radius: 4px;
}
.container form input{
    outline: none;
    border: none;
}